:root {
    --bg: #6C0BA9;
    --dark: #DC9202;
    --btn-blue: #b33000;
    --accent: #FED000;
    --text-white: #FBFBFB;
  }
.create-container {
    display:flex;
    flex-direction: column;
    border: 2px, solid var(--dark);
    padding: 25px;
    position: relative;
    width: 35%;
}

.content-container{
    display: flex;
}

.create-profile-pic{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.content {
    margin-left: 35px;
    margin-top: 40px;
    height: 100px;
    width: 100%;
    font-size: 1.5rem;
    background: var(--bg);
    border: none;
    resize: none;
    color: var(--text-white);
}

.content:focus{
    outline-width: 0;
}

.create-btn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border: none;
    align-self: flex-end;
    background: var(--btn-blue);
    color: var(--dark);
    font-size: 1.2rem;
    font-weight: 600;
}

.create-btn:hover {
    cursor: pointer;
    background: var(--accent);
    transition: .3s;
}

::placeholder{
    color: var(--btn-blue);

}

.ilogout-btn{
    background-color: var(--btn-blue);
    border: solid 2px var(--dark);
    color: var(--dark);
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
  }